.table td, .table th {
    padding: .3rem !important;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}
.page-titles {
    margin: 0px -20px !important;
}
.sidebar-nav ul li a img {
    float: right !important;
    font-style: normal;
    width: 24px !important;
    text-align: center;
}